.service-title {
    color: #000;
    font-family: Lato;
    font-size: 64px;
    font-weight: 700;
}

.service-text {
    color: var(--gray-text, #969696);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.service-btn {
    display: inline-flex;
    padding: 15px 47px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--primary, #E30000);
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
}

.circle {
    width: 377px;
    height: 376px;
    flex-shrink: 0;
    border-radius: 477px;
    opacity: 0.3;
    background: var(--primary, #E30000);
    backdrop-filter: blur(5px);
}

